# HackerRank: The PADS [Medium]

<div>
<img src="res\the-pads-English_page-0001.jpg" alt="The PADS" style="width: 600px;"/>
<img src="res\the-pads-English_page-0002.jpg" alt="The PADS" style="width: 600px;"/>
</div>


***My Solution:***
```sql
-- First Query: Names with Occupation Initials
SELECT
  CONCAT(Name,  -- Combine name with...
         "(",        -- opening parenthesis
         SUBSTRING(Occupation, 1, 1), -- first character of occupation (capitalized)
         ")"         -- closing parenthesis
  ) AS CombinedNameInitial -- Assign alias for readability
FROM OCCUPATIONS
ORDER BY Name;  -- Order results alphabetically by name


-- Second Query: Occupation Counts
SELECT
  CONCAT(
    "There are a total of ",
    COUNT(Occupation),  -- Count the number of occurrences for each occupation
    " ",
    LOWER(Occupation),  -- Convert occupation to lowercase
    "s."                -- Add "s" for plural
  ) AS OccupationSummary -- Assign alias for readability
FROM OCCUPATIONS
GROUP BY Occupation  -- Group results by occupation
ORDER BY
  COUNT(Occupation),  -- Order by count (descending)
  Occupation;             -- Then by occupation alphabetically
```